{
  email ${CONTACT_EMAIL}
  auto_https off
  servers {
    trusted_proxies static private_ranges
  }
}

:8080 {
  bind 127.0.0.1
  root * ${SITE_ROOT}
  encode zstd gzip
  file_server
  header {
    -Server
    X-Content-Type-Options nosniff
    Referrer-Policy no-referrer
  }
}
